/* src/pages/GamePage.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #1f3540;
  color: white;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  align-items: center;
}

.game-turn {
  background-color: #2b3d47;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.game-reset {
  background-color: #2b3d47;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.game-cell {
  background-color: #2b3d47;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.game-scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.score {
  text-align: center;
  padding: 10px;
  flex: 1;
}

.x-score {
  background-color: #2b3d47;
  margin-right: 5px;
  border-radius: 10px;
}

.o-score {
  background-color: #2b3d47;
  margin-left: 5px;
  border-radius: 10px;
}

.ties-score {
  background-color: #2b3d47;
  margin: 0 5px;
  border-radius: 10px;
}
.game-cell img {
  width: 60%;
  height: 60%;
}
.game-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #2c3e50;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.popup-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.popup-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.popup-buttons button:first-child {
  background-color: #bdc3c7;
  color: #2c3e50;
}

.popup-buttons button:last-child {
  background-color: #f39c12;
  color: white;
}
